[Unit]
Description=Goatcounter analytics

[Service]
Restart=always
ExecStart=/usr/local/bin/goatcounter serve \
          -listen localhost:8081 \
          -db "sqlite://var/lib/goatcounter/goatcounter.sqlite3" \
          -tls http

[Install]
WantedBy=multi-user.target
